#(project
  (#(meta
     (#(name py)
      #(description "Distributed Python for the Erlang Ecosystem")
      #(version "0.0.5")
      #(keywords ("LFE" "Lisp" "Python" "Distributed" "Interop"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/py")))))
   #(app
     (#(mod #(py ()))))))

#(logging (
  #(log-level info)
  #(backend lager)
  #(colored true)
  #(colors (#(timestamp (color green))
            #(process (color cyan))
            #(date (color green))
            #(time (color green))
            #(modfunc (color yellow))
            #(message (color green))
            #(debug (color greenb))
            #(info (color blue))
            #(notice (color cyan))
            #(warning (color yellow))
            #(error (color red))
            #(critical (color yellowb))
            #(alert (color magentab))
            #(emergency (color redb))))
  #(options (#(lager_console_backend (
               info
               #(logjam-formatter
                 (date " " time " [" pid "] [" severity "] " message "\n"))))))))

