#(project
  (#(meta
     (#(name py)
      #(description "Distributed Python for the Erlang Ecosystem")
      #(version "0.0.5")
      #(keywords ("LFE" "Lisp" "Python" "Distributed" "Interop"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/py")))))
   #(app
     (#(mod #(py ()))))))

#(logging (
   #(log-level info)
   #(backend lager)
   #(options (#(lager_console_backend info)
              #(lager_file_backend (
                #(file "log/error.log")
                #(level error)
                #(size 10485760)
                #(date "$D0")
                #(count 5)))
              #(lager_file_backend (
                #(file "log/console.log")
                #(level info)
                #(size 10485760)
                #(date "$D0")
                #(count 5)))))))
