{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, "0.9.0", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.9.0"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.4.0"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.4.0"}}},
   {e2, ".*", {git, "git://github.com/gar1t/e2.git", "master"}}
  ]}.
