{erl_opts, [debug_info, {src_dirs, ["test"]}]}.

{lfe_first_files, ["src/py-util.lfe"]}.

{deps, [
   {lutil, ".*", {git, "git://github.com/lfex/lutil.git", {tag, "0.8.0"}}},
   {erlport, ".*", {git, "git://github.com/hdima/erlport.git",
     "ae6b8802b3883f9f350921b779d0e91784de5112"}},
   {logjam, ".*", {git, "git://github.com/lfex/logjam.git", {tag, "0.4.0"}}}
  ]}.

{plugins, [
   {'lfe-compile', {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.3.0"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{profiles, [
  {dev, [
    {plugins, [
      {'lfe-version', {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.3.0"}}},
      {'lfe-clean', {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.2.0"}}}
      ]}
    ]},
  {test, [
    {eunit_compile_opts, [
      {src_dirs, ["test", "src"]}
      ]},
    {deps, [
      {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.8.0"}}}]}
    ]},
  {docs, [
    {plugins, [
      {lodox, {git, "https://github.com/quasiquoting/lodox.git", {tag, "0.12.10"}}}
      ]},
    {lodox,
      [{apps,
        [{exemplar,
          [{'source-uri',
            "https://github.com/lfex/exemplar/blob/{version}/{filepath}#L{line}"},
           {'output-path', "docs/master/current/api"}]}]}
      ]}
    ]}
  ]}.
